<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso a Datos</title>
</head>
<style>
    table {
  width: 100%;
  border-collapse: collapse;
  background-color: #212121;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

th {
  background-color: linear-gradient( #363a41);
  color: #CFE2FF;
  text-align: right;
  text-align-last: center;
}

tr{
    background-color: #212121;
    color: #CFE2FF;
}


</style>
<body>
    <%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<section>
    <form action="/alumnos" method="post">

        <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
        <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
        <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad">
        <div style="float: right; margin-right: 5.5rem;margin-top: 1rem;">
            <button type="submit">Enviar Información</button>
        </div>
    </form>

    <div class="container">
        <table >
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Sexo</th>
                <th scope="col">Especialidad</th>
            </tr>
            <%
            for(var i=0;i<reg.length;++i){ %>  
                <tr>
                    <td><%=reg[i].id_alumno %></td>
                    <td><%=reg[i].matricula %></td>
                    <td><%=reg[i].nombre %></td>
                    <td><%=reg[i].domicilio %></td>
                    <td><%=reg[i].sexo %></td>
                    <td><%=reg[i].especialidad %></td>
                </tr>
            <%
            }
            %>

        </table>

    </div>

</section>


<%-include('partials/footer.ejs')%>
</body>
</html>

