<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
</head>
<style>
/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #58586F;
  color: #333;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 80%;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#052C65, #40c9ff) border-box;
  border: 5px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #EEFBFB;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: #052C65;
}

/* Estilos del Formulario */
.formulario {
  display: flex;
  flex-direction: column;
}

.inputs, .select, .botones {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

input[type="number"], input[type="text"], select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;

}

input:focus{
  outline: none;
  border-color: #CFE2FF;
  color: #CFE2FF;
}

input:valid{
  border-color: #CFE2FF;
}

select:valid{
  border-color: #CFE2FF;
}

select:focus{
  background-color: #212121;
}

button {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #ddd;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #CFE2FF;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 width: 60%;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.botones{
  display: flex;
  flex-direction: row;
  gap: 32px;
}
button:hover {
  background-color: #CFE2FF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
 color: #212121;
}
button:active {
 box-shadow: none;
 transform: translateY(0);
}
button a {
  text-decoration: none;
  color: tomato
}
.btnLimpiar:hover{
  background-color: tomato;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #fff;

}
.btnLimpiar:hover a{
  color: #CFE2FF;
}

/* Estilos de las Tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

th {
  background-color: linear-gradient(90deg #CFE2FF, #363a41);
  color: #CFE2FF;
  text-align: right;
  text-align-last: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



</style>
<body>
  <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
<section>
<div class="contenedor">
<form class="formulario" id="formulario" action="/cotizaciones" method="post">
  <div class="inputs">
    <h1>Cotizacion</h1>
      <label for="">Folio</label>
      <input type="number" name="folio" id="folio" required value="<%=folio%>"/>
      <label for="">Descripcion</label>
      <input type="text" name="descripcion" id="descripcion" required value="<%=descripcion%>">
      <label for="">Valor del Automovil</label>
      <input type="number" name="valor" id="valor" required value="<%=valor%>" />
      <label for="">Porcentaje de pago inicial</label>
      <input type="number" name="pInicial" id="pInicial"  required value="<%=pInicial%>"/>
  </div>
  <div class="select">
      <label for="">Plazo en meses</label>
      <select class="" name="plazos" id="plazos"  required value="<%=plazos%>">
        <option value="12">12 meses</option>
        <option value="24">24 meses</option>
        <option value="36">36 meses</option>
        <option value="48">48 meses</option>
        <option value="60">60 meses</option>
      </select>
  </div>
  <div class="botones">
      <button type="submit">Calcular</button>
      <button id="btnLimpiar" class="btnLimpiar">Limpiar</button>

  </div>

</form>

<%
if(valor){
    let Porcentaje= pInicial;
    pInicial = valor * (pInicial / 100);
    let cuota = (valor - pInicial) / plazos;
    cuota = cuota.toFixed(2);
    let financiar = valor- pInicial;
    %>
    
    <br>
    <h1>Resumen</h1>

    <table class="resumen" id="resumen">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Descripcion</th>
          <th>Valor del Automovil</th>
          <th>Porcentaje del pago inicial</th>
          <th>Plazo en meses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%=folio%></th>
          <th><%=descripcion%></th>
          <th>$<%=valor%></th>
          <th><%=Porcentaje%>%</th>
          <th><%=plazos%> Meses</th>
        </tr>
      </tbody>
    </table>
    
    <br>
    <h1>Resultados</h1>
    <table class="resultados" id="resultados">
    
      <thead>
        
        <tr>
          <th>Pago inicial</th>
          <th>Total a Financiar</th>
          <th>Valor de la Mensualidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>$<%=pInicial%></th>
          <th>$<%=financiar%></th>
          <th>$<%=cuota%></th>
        </tr>
      </tbody>
    </table>
    <%
}
%>  
</div>
</section>
<%- include('partials/footer.ejs')%>
<script>
document.getElementById('btnLimpiar').addEventListener('click',function(){
  let formulario = document.getElementById('formulario');
  let resultados = document.getElementById('resultados');
  let resumen = document.getElementById('resumen');

  if(formulario){
    formulario.reset();
  }
  if(resumen){
    resumen.remove();
  }
  if(resultados){
    resultados.remove();
  }
  
  // Asegurarnos de borrar los valores de los campos de entrada y selección
  let inputs = document.querySelectorAll('input');
  let selects = document.querySelectorAll('select');
  
  inputs.forEach(input => {
    input.value = '';
  });
  
  selects.forEach(select => {
    select.value = '12';
  });
})
</script>
</body>


</html>