<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, veniam accusantium dignissimos voluptatem, nam, possimus in harum qui error optio assumenda hic deleniti ut porro minima a. Magnam, incidunt dignissimos.
    <%-include('partials/footer.ejs')%>
    
</body>
</html>