<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <form action="/tabla" method="post">
        <label for="tabla">Tabla</label>
        <input type="number" id="numero" name="numero" required value= "<%=numero%>" >
        <button type="submit">Enviar</button>
        <button><a href="/tabla">Limpiar</a></button>
    </form>
    <section>
        

        <%

        let res = 0;
        if(numero !=null){
            for(con=1;con<=10;con++){
                res = con * numero
        %>
                <h3><%=numero%> x <%=con%> = <%=res%></h3>
        <%
            }
        }

        %>
        <%-include('partials/footer.ejs')%>
    </section>
</body>
</html>